html,
body,
ul,
nav,
header,
li,
h1,
img,
form,
input,
span,
p,
footer,
carousel-3d {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

body {
    background-image: url('./images/main-bg.jpg');
    background-size: auto auto;
}

nav ul li a:hover {
    font-style: italic;
    color: #8D96A0;
}

#register-link {
    font-size: 18px;
    margin-top: 18px;
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

#main {
    max-width: 960px;
    margin: 65px auto;
    overflow: hidden;
}


/**Navigation**/

#navbar-collapse-1 {
    max-width: 960px;
}

#main-nav {
    margin-top: 35px;
    border-radius: 10px;
    background: url('./images/nav.png');
    border: none;
    width: 100%;
    border-top: 1px solid #4f5861;
}

#main-nav ul li a {
    color: #fff;
}

li.social {
    width: 25px;
    height: 25px;
}

#main-nav ul li a:hover {
    color: #8d96a0;
}

.navbar-nav.navbar-right {
    margin-right: 50px;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

.navbar .navbar-collapse {
    position: relative;
    overflow: hidden !important;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse>li {
    float: right;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px, -50px);
}

.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px);
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right>li {
        display: none;
    }
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%, 0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px, 0px);
    }
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px, -100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px, 0px);
    }
}


/**Carousel**/

#carousel {
    margin-top: 60px;
}

#middle {
    background: url('./images/content.png');
    min-height: 930px;
    width: 100%;
    margin-top: 72px;
    border-top: 1px solid #fff;
    padding-top: 50px;
    padding-bottom: 300px;
}

#middle li p {
    color: #838383;
    height: 140px;
    overflow: hidden;
}

#info {
    background-image: url('./images/gradient.png');
    width: 100%;
    margin-top: 40px;
    display: inline-block;
    border-top: 1px solid #d8d8d8;
    min-height: 160px;
}

#info p {
    text-align: center;
    font-size: 30px;
    font-family: 'colaborate-thinregular';
}

#quote {
    position: relative;
    left: 48%;
    top: -15px;
}

#text-area {
    margin-top: 0;
}

#additional-info {
    position: relative;
    top: 25px;
}

#features-list {
    margin-top: 65px;
}

#thumbnails-container {
    margin-top: 80px;
}

#thumbnails,
#thumbnails2 {
    display: flex;
    justify-content: space-between;
}

#thumbnails2 {
    margin-top: 45px;
}

footer {
    margin-top: 52px;
    display: flex;
}

footer h2 {
    color: #fff;
}

footer p,
ul {
    color: #8b949d;
}

footer ul {
    list-style-type: disc;
}

#nav-footer {
    height: 65px;
    margin-top: 70px;
    background-color: #0f1419;
}

#nav-footer ul {
    float: left;
}

#nav-footer ul li {
    display: inline-block;
    list-style-type: none;
    margin: 20px 15px 26px 0;
}

#nav-footer ul li a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

#nav-footer ul li a:hover {
    font-style: italic;
    color: #8D96A0;
}

small {
    color: #8D96A0;
    float: right;
    margin-top: 26px;
}

small>p {
    color: white;
    display: inline;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
    color: #59B2E0;
    font-size: 18px;
}

.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

#current-user {
    color: #fff;
}

#logout {
    color: #59B2E0;
}

.red {
    color: red;
}

.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}

.line-with-shadow {
    border: 0;
    height: 1px;
    position: relative;
    background-color: #fff;
}

.line-with-shadow:before {
    top: -6px;
    height: 1em;
    left: 0;
}

.line-with-shadow:after {
    content: '';
    height: 0.5em;
    top: -7px;
    left: 0;
}

.line-with-shadow:before,
.line-with-shadow:after {
    content: '';
    position: absolute;
    width: 100%;
}

.line-with-shadow,
.line-with-shadow:before {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 75%);
}

.line-with-shadow:after {
    background: #eaeaea;
}

.read-more {
    margin-top: 1.6em;
    margin-right: 1.5em;
    border-radius: 1em !important;
    background-image: none !important;
    width: 7em !important;
    color: #fff !important;
    padding: 0.2em !important;
    height: 2.4em !important;
    font-size: 0.85em !important;
}

.read-more-black {
    background-color: #303840;
    margin-top: 1.6em;
    margin-right: 1.5em;
    border-radius: 1em !important;
    background-image: none !important;
    width: 7em !important;
    color: #fff !important;
    padding: 0.2em !important;
    height: 2.4em !important;
    font-size: 0.85em !important;
}

.read-more-black a {
    color: #fff;
}

.read-more-black a:hover {
    text-decoration: none;
}

.read-more a {
    color: #fff;
}

.read-more a:hover {
    text-decoration: none;
}

#post-title a {
    font-size: 3rem;
    text-decoration: none;
    color: #000;
}

#post-title {
    font-size: 3rem;
    text-decoration: none;
    color: #000;
}

#recipe article {
    text-align: justify;
    word-break: break-all;
}

#recipe p {
    color: #838383;
}

#recipe img {
    margin-right: 25px;
}

.panel {
    position: relative;
}

.panel>.panel-heading:after,
.panel>.panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel>.panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel>.panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

.panel-default>.panel-heading {
    border: none !important;
    background-color: #fff;
}

#comments {
    margin-top: 80px;
}

.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 7px;
    position: relative;
    width: 100%;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}

.status-upload form {
    float: left;
    width: 100%;
}

.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize: vertical;
    outline: none;
    border: 1px solid #F2F2F2;
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}

.status-upload ul>li {
    float: left;
}

.status-upload ul>li>a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}

.status-upload ul>li>a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}

.status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}

.dropdown>a>span.green:before {
    border-left-color: #2dcb73;
}

.status-upload form button>i {
    margin-right: 7px;
}

#recent {
    width: 40%;
}

.additional {
    display: flex;
    justify-content: center;
}

.recent .posts .field {
    border-radius: 0.8em;
    border: 1px solid #d3d3d3;
    width: 272px;
    background-image: url('./images/aside-gradient.png');
}

.recent .posts .field ul {
    list-style-type: none;
    margin: 1.8em 0em;
    padding-left: 30px;
    text-align: left !important;
    width: 240px;
}

.recent .posts .field ul li {
    width: 100%;
    text-align: left !important;
}

.recent .posts .field ul li a {
    font-size: 0.9em;
    color: #000;
}

.recent .posts .field ul li+li {
    margin-top: 1em;
}

.recent .comments h4 {
    margin-top: 1.3em;
    margin-left: 0.5em;
}

.recent .comments .field {
    border-radius: 0.8em;
    border: 1px solid #d3d3d3;
    width: 272px;
    background-image: url('./images/aside-gradient.png');
}

.recent .comments .field ul {
    list-style-type: none;
    margin: 1.8em 0em;
    padding-left: 30px;
    text-align: left !important;
    width: 240px;
}

.recent .comments .field ul li {
    width: 100%;
    text-align: left !important;
}

.recent .comments .field ul li a {
    font-size: 0.9em;
    color: #000;
}

.recent .comments .field ul li+li {
    margin-top: 1em;
}

.color-light {
    background-color: #fff;
}

.gallery {
    display: inline-block;
    margin-top: 50px;
}

.gallery .thumbnail img {
    width: 250px;
    /*set the width or max-width*/
    height: 130px;
    /*this makes sure to maintain the aspect ratio*/
}

footer .container {}