<div id="middle">
    <div class="container" id="thumbnails-container" >
        <div class="row" id="thumbnails">
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="http://del.h-cdn.co/assets/15/51/1450278988-honey-soy-chicken.jpg"  alt="..." title="Chicken">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="http://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/7/26/1/IG1B11_beef-bourguignon_s4x3.jpg.rend.hgtvcom.616.462.suffix/1384540894086.jpeg" alt="..." title="Beef">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="https://cdn-jpg2.thedailymeal.com/sites/default/files/story/Main-14-ribs-shutterstock_152296739.jpg" alt="..." title="Pork">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="http://media.foodnetwork.ca/imageserve/wp-content/uploads/sites/6/2015/09/green-beans-and-kale/x.jpg" alt="..." title="Vegetables">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="http://upload2.weddbook.com/blogs2/581/nordstrom-tomato-basil-soup-recipe-with-parmesan-garlic-crostini-740-int.jpg" alt="..." title="Soups">
                </a>
            </div>
        </div>
        <div class="row" id="thumbnails2">
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="http://www.cheaprecipeblog.com/wp-content/uploads/2012/11/Falafel-salad-recipe.jpg"  alt="..." title="Salads">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="http://img.taste.com.au/np9Pa9aG/w720-h480-cfill-q80/taste/2016/11/chilli-soy-salmon-with-wok-fried-noodles-91891-1.jpeg" alt="..." title="Seafood">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="http://cdn.w.kitchme.com/the-dish/wp-content/uploads/2014/12/lemon-dessert-ww-2-points-for-entire-recipe-177581_14491-640x426.jpg" alt="..." title="Dessert">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="http://s3.amazonaws.com/studio-me/system/photos/photos/000/772/700/large/orange_chicken.jpg?1411766642" alt="..." title="Asian">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="http://api.clo.ud.it/download/riomareicms/prod/2/2642_da-gourmet.jpg" alt="Gourmet" title="Gourmet">
                </a>
            </div>
        </div>
    </div>
</div>