<div class="wrapper">
    <h1 class="main-heading">Gallery</h1>
</div>

<div id="middle">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-2 my-breadcrumb">
                    <div id="heading">
                        <h5>
                            <a href="#/home">Home</a>
                        </h5>
                        <span>»</span>
                        <span>Gallery</span>
                    </div>
                </div>
            </div>
        </div>
        <div class='gallery'>
            {{#each recipes}}
            <div class="gallery-item">
                <a href="#/recipes/{{this._key}}">
                    <img src="{{this.image}}" alt="...">
                </a>
                <a class="zoom-icon" href="../images/small-zoom.png">Zoom</a>
                <a class="more-icon" href="#/recipes/{{this._key}}">More</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>