<div id="middle">
    <div class="container" id="thumbnails-container" >
        <div class="row" id="thumbnails">
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../images/content.png"  alt="...">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../images/content.png" alt="...">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../images/content.png" alt="...">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../images/content.png" alt="...">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../images/content.png" alt="...">
                </a>
            </div>
        </div>
        <div class="row" id="thumbnails2">
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../images/content.png"  alt="...">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../images/content.png" alt="...">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../images/content.png" alt="...">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../images/content.png" alt="...">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
                <a href="#" class="thumbnail">
                    <img src="../images/content.png" alt="...">
                </a>
            </div>
        </div>
    </div>
</div>