<div id="carousel">
    <carousel-3d :autoplay="true" :autoplay-timeout="2400">
        <slide :index="0"><img src="http://www.mypersiankitchen.com/wp-content/uploads/2013/11/Stuffed-Turkey-Breast-28-400x300.jpg" /></slide>
        <slide :index="1"><img src="https://i.pinimg.com/736x/49/0f/a5/490fa533550444f2630c89a323614baa--cold-dishes-chinese.jpg" /></slide>
        <slide :index="2"><img src="http://mexican.betterrecipes.com/uploads/photo/400x300/f/f/ff40ddff7fd1e7802fa5435157fdc0a1.jpg" /></slide>
        <slide :index="3"><img src="http://www.chinafeature.net/images/food/sichuan/sichuan-cuisine.jpg" /></slide>
        <slide :index="4"><img src="https://opinionstage-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,h_300,q_auto:good,w_400/v1474469173/polls/ograbxoacbdbi6vseskf.jpg"
            /></slide>
        <slide :index="5"><img src="http://lib5.thenmedia.co.uk/med/souvlaki-is-a-popular-greek-dish-M2691.jpg" /></slide>
        <slide :index="6"><img src="https://i.pinimg.com/736x/62/9e/17/629e1769d27108ca9f8d84d2c364d965--food-trip-seafood-dishes.jpg" /></slide>
        <slide :index="7"><img src="http://procaffenation.com/wp-content/uploads/2017/04/famous-indian-dishes-6-400x300.jpg" /></slide>
    </carousel-3d>
</div>

<div id="middle">
    <div class="wrapper">
        <div class="roll">
            <ul id="features-list">
                <li class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <img src="images/f1-icon.png" alt="feature-icon" id="f-1" />
                        </div>
                        <div class="col-md-9 f-1">
                            <h2>What We Offer</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum,
                                id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor sit
                                amet, consectetur adipiscing elit. Etiam malesuada mattis nibh at bibendum. Lorem ipsum dolor
                                sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat.
                            </p>
                            <form action="/">
                                <input type="image" src="images/Read More.png" alt="Read more" class="read-more pull-right">
                            </form>
                        </div>
                    </div>
                </li>
                <li class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <img src="images/f2-icon.png" alt="feature-icon" id="f-2" />
                        </div>
                        <div class="col-md-9 f-1">
                            <h2>Who We Are</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum,
                                id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis
                                ac libero interdum, id fringilla purus feugiat.
                            </p>
                            <form action="/action_page.php">
                                <input type="image" src="images/Read More.png" alt="Read more" class="read-more pull-right">
                            </form>
                        </div>
                    </div>
                </li>
                <li class="col-md-4">
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <img src="images/f3-icon.png" alt="feature-icon" id="f-3" />
                        </div>
                        <div class="col-md-9 f-1">
                            <h2>Our Mission</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum,
                                id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum. Etiam mollis turpis
                                ac libero interdum, id fringilla purus feugiat. Etiam mollis turpis ac libero interdum, id
                                fringilla purus feugiat.
                            </p>
                            <form action="/action_page.php">
                                <input type="image" src="images/Read More.png" alt="Read more" class="read-more pull-right">
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="info">
                <div class="wrapper" id="text-area">
                    <img src="images/quote.png" alt="quote-icon" id="quote" />
                    <p>Vivamus id feugiat ligula. Nulla facilisi. Integer lacus justo, elementum eget consequat a, molestie
                        nec sapien. Quisque tincidunt, nunc vitae adipiscing</p>

                    <img src="../images/additional-info.png" alt="additional-info-button" id="additional-info" />

                </div>

            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class='gallery'>
            {{#each recipes}}
            <div class="gallery-item">
                <a href="#/recipes/{{this._key}}">
                        <img  src="{{this.image}}"  alt="...">
                    </a>
                    <a class="zoom-icon" href="../images/small-zoom.png">Zoom</a>
                    <a class="more-icon" href="../images/small-zoom.png">More</a>
            </div>
            {{/each}}
        </div>

    </div>
</div>



<script>
    $(function () {
        new Vue({
            el: '#carousel',
            data: {
                slides: 7
            },
            components: {
                'carousel-3d': Carousel3d.Carousel3d,
                'slide': Carousel3d.Slide
            }
        })
    });

</script>